body {
    /* background-color: ; */
    margin: 0;
}

.bigWrapper {
    /* background-color: black; */
    height: 100vh;
    width: 100vw;
}

.navbar {
    /* border: 2px solid green; */
    height: 10vh;
    display: flex;
    overflow: hidden;
}

.box-shadow {
    -webkit-box-shadow: 0 0px 5px #888888;
    -moz-box-shadow: 0 10px 5px #888888;
    box-shadow: 0 7px 5px #888888;
}

.logo {
    height: 10vh;
    /* width:15vw; */
}

.logo>img {
    /* height:15vh; */
    /* width:15vw; */
    /* border:1px solid red; */
    /* max-width: 20vw; */
    max-height: 10vh;
    /* background-image: url("./assets/newlogo.jpg"); */
}

.links {
    width: 60vw;
    /* border: 1px black solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.links>a {
    font-size: 1vw;
    padding: 3vw;
    font-style: oblique;
}

.links>a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.searchBar {
    width: 20vw;
    /* border:2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar>input {
    width: 10vw;
    font-size: 1vw;
    border: 1px gray solid;
    background: white;
    border-radius: 20px;
    padding: 0.1vw;
    /* background-color: white;     */
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 70%;
}

.searchBar>button {
    margin-left: 1vw;
    font-size: 1vw;
    color: white;
    background-color: #2196F3;
    border-radius: 0.5vw;
}

.profileBar {
    width: 25vw;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: black; */
}

.userName {
    padding: 1vw;
    font-size: 1vw;
}

.userImg>img {
    max-width: 5vw;
    max-height: 5vh;
    border-radius: 100%;
    cursor: pointer;
}

.details {
    display: flex;
    height: 90vh;
    width: 100vw;
}

.readBooks {
    width: 70vw;
    font-size: 10vw;
}

.filter {
    /* border: 1px solid black; */
    font-size: 1.8vw;
    display: flex;
    justify-content: end;
    padding: 1vw;
}

.dropdown>button {
    border: black 2px solid;
    background: white;
    width: 10vw;
    height: 5vh;
    font-size: 1vw;
    /* padding: 1vw; */
    margin-left: 1vw;
    /* cursor: pointer; */
}

.dropdown>button>span {
    /* display: flex;
    justify-content: end;
    /* align-items: center; */
    /* margin: 2px; */
    font-size: 1vw;
    /* border: 1px black solid; */
    /* width: 3 rem; */ 
    display: inline-block;
    /* margin-top: -4000px; */
    cursor: pointer;

}
 /* Dropdown Button */
 .dropbtn {
    /* background-color: #4CAF50; */
    /* color: white; */
    /* padding: 16px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    /* background-color: #3e8e41; */
  }
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 1vw;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content>a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1vw;
  }

  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 

.bookCase{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 3vw;

    padding: 3vw;
}

.bookCase>div{
    display: flex;
    justify-content: center;
}

.bookCase>div>img{
    width:100%;
    max-width: 10vw;
    max-height: 30vh;
    box-shadow:  10px 10px grey;
}


.recommend {
    border: 2px solid red;
    width: 30vw;
    font-size: 2vw;
}


.recommendbookCase>div>img{
	max-width: 20vw;
	max-height: 40vh;
	display:block;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;

}

.button {
    display: inline-block;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 40%;
    padding: 3% 3%;
    width: 40%;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 1.5vw;
    margin-top: 15vh;
    vertical-align:middle;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }